<div class="col-sm-12 align-items-center">
<h2 class="mb-0">Show User</h2>
<hr/>
<br/>
<div class="form-group">
  <strong>First name:</strong>
  <%= @user.firat_name %>
</div>

<div class="form-group">
  <strong>Last name:</strong>
  <%= @user.last_name %>
</div>

<div class="form-group">
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<div class="form-group">
  <strong>Confirm email:</strong>
  <%= @user.con_email %>
</div>

<div class="form-group">
  <strong>Country:</strong>
  <%= @user.country %>
</div>

<div class="form-group">
  <strong>City:</strong>
  <%= @user.city %>
</div>
<%= link_to 'Edit', edit_user_path(@user) , class: "btn btn-rounded btn-space btn-primary" %>
<%= link_to 'Back', users_path , class: "btn btn-rounded btn-space btn-info" %>
<%= link_to 'Confirm', users_path , class: "btn btn-rounded btn-space btn-primary" %>
</div>